/* ------------------Put your custom code here--------------------*/

.control-label {font-weight: bold;}
form .control-group:last-child {margin-bottom: 0;}
form .control-group .controls-row {	margin-bottom: 5px;}
form .control-group .controls-row textarea {margin-bottom: 15px;}
form .control-group .controls-row .btn.special {margin-left: 10px;}

@media only screen and (max-width: 1360px) {
    /* ------------------ Form styles --------------------*/
    [class*="span6"] form .control-group .control-label {width: 120px;}
    [class*="span6"] form .control-group .controls {margin-left: 150px;}
}

@media only screen and (max-width: 1280px) {
    /* ------------------ Form styles --------------------*/
    [class*="span6"] form .control-group .control-label {width: 100%; text-align: left;margin-bottom: 5px;}
    [class*="span6"] form .control-group .controls {margin-left: 0;}
    [class*="span6"] form .control-group {margin-bottom: 10px;}
    [class*="span6"] form .form-actions {padding-left: 20px;}
}

@media only screen and (max-width: 767px) {
    /* ------------------ Form styles--------------------*/
    form .control-group [class*="span"] {margin-bottom: 10px !important;}
    form .control-group .control-label {width: 100%; text-align: left;margin-bottom: 5px;}
    form .control-group .controls {margin-left: 0;}
    form .control-group {margin-bottom: 10px;}
    form .form-actions {padding-left: 20px;}
    form .control-group .controls-row [class*="span"] {margin-left: 0 !important;}
    form .control-group .controls-row .btn.special {margin-left: 0px;}
}


/*@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
}*/

/* Smartphones (portrait and landscape) ----------- */
/*@media only screen
and (min-device-width : 341px)
and (max-device-width : 480px) {
    body { 
        padding: 0; 
        margin: 0; 
        width: 341px; }
    
}*/

@media screen and (max-width: 340px){
    .dataTables_wrapper .row-fluid .span6{
        padding-top: 60px;
    }
    /*.dynamicTable .display .table .dataTable{
        padding-top: 50px;
    }*/
    body{
        /*background: blue;*/
    }
}
@media screen 
and (min-width : 200px)
and (max-width: 300px){
    body{
        min-width: 300px;
        /*background: yellow;*/
        /*color: red;*/
    }
    .containerModulo{
        min-width: 300px;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
/*        width: 495px; */
    }
}
@media screen and (max-width: 600px) { 
    #enlace_logo { display:none; } 
} 

/*http://css-tricks.com/responsive-data-tables/*/